body{
    background-color:#eee;
    padding: 0;
}
div.col-sm-6,.row,nav {
    display: flex;
}

.fa{
    margin-top: 14%;
    font-family:sans-serif;
    font-weight: bolder;
    font-size:20px;
}
.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  .fa ,.fa-search{
    display: flex;
}
.search,input{
    border-radius:20PX;
    width:90%;
    height: 30px;
    font-weight: bolder;
    font-family:monospace; 
    font-size: large;
    padding: 5%;
}
img{
    width: 90px;
    height: 80px;
}
div.logo{
    display: flex;
    margin-top: 15px;
}
h5{
    text-align: center;
    font-family: sans-serif;
    font-weight: bolder;
}

div.card{
    border-radius: 20px;
    margin: 10px;
    background-color:rgb(255, 255, 255);
}
i,.fa .fa-bookmark-o{
    margin-left: 20px;
}
.bmw{
    width: 150px;
    height: 130px;
}
div.card.buttom{
    background-color: blue;
    display: flex;
}
.fa .fa-user
{
    margin: 10px;
    padding: 5px;
}
a:hover{
    border-radius: 60px solid black;
    
}